/*
Theme Name: Total Child
Theme URI: http://totalwptheme.com
Description: Total WordPress theme example child theme.
Author: AJ Clarke
Author URI: http://totalwptheme.com
Template: Total
Version: 1.1
*/

/* Parent stylesheet should be loaded from functions.php not using @import */

/* 전체적용 */

/* 폰트설정 */
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url("http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css"); 
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

body, h1, h2, h3, h4, h5, h6, li, p { font-family:"nanumbarungothic","nanumbarungothic", 'Century Gothic',sans-serif !important; }
h1, h2, h3, h4, h5, h6{font-weight:bold;padding:0;margin:5px 0;}
ul, li{list-style:none;margin:0;padding:0;}
a:link, a:hover, a:active, a:visited {text-decoration:none;}

body {background:url(/wp-content/uploads/2016/12/bg_img_03.jpg) right top no-repeat;background-attachment:fixed;}

/* 메인 스타일 */
.main_tit_border {margin:0 auto;text-algin:center;width:7%;border-top:2px solid #42ae49;}
.main_icon_cont {line-height:1.4em;}
.fa-chevron-left:before, .fa-chevron-right:before {color:#565656;}

#site-header.overlay-header {background:rgba(0,0,0, 0.3);}

/* 서브 스타일 */
.container, .vc_row-fluid.container {border-top:1px solid #ededed;bottom:1px;}
.side_menu_tit {padding:50px 0;text-align:center;background:#40ae49;color:#fff;font-size:24px;}

.sidebar-box {padding-bottom:0;}
#sidebar .widget_nav_menu li a {padding:1.3em 30px 1.3em 0.769em;}
#sidebar .widget_nav_menu .sub-menu li a {background:#f4f4f4;}
#sidebar .widget_nav_menu .current_page_item > a, #sidebar .widget_nav_menu .current-menu-item > a {color:#148d1e;}

.cont_tit{background:url(/wp-content/uploads/2016/10/icon_tit.png) left 4px no-repeat;padding-left:25px;background-size:18px 18px;font-family:"nanumbarungothic","nanumbarungothic", 'Century Gothic',sans-serif !important;}
ul.list-dot{list-style:none;margin:0 !important;padding:0 !important;}
ul.list-dot li:before {
	content: "";
	margin-right: 6px;
	display: inline-block;
	width: 3px;
	height: 3px;
	background-color: #ff3924;
	margin-bottom: 2px;
}
ul.check-list li{margin:0 !important;padding:0 !important;}
.check-list li:before {color:#ff8400;margin-right:5px !important;}
.wpex-vc-column-wrapper {margin-bottom:20px !important;}

.history_y {font-size:16px;font-weight:500;text-align:center;background:#262626;border-radius:5px;color:#fff;padding:5px 0 3px 0;margin-top:-7px;}
.history_m {font-size:16px;font-weight:500;color:#262626;}

.side_menu_second{padding-left:15px;}
#team_box .vc_column_container>.vc_column-inner{padding-left:0;padding-right:0;}

#fund_box{border:1px solid #dddddd;}
#fund_box h3 {margin:0;padding:20px 30px;background:#f8f8f8;border-bottom:1px solid #dddddd;}
#fund_box .fund_cont {padding:20px 30px;}
#fund_box a:link {color:#6f6f6f;}
#fund_box a:hover {color:#40ae49;}

.portfolio_tb {width:100%;border-collapse:collapse;border:1px solid #dddddd;}
.portfolio_tb th, .portfolio_tb td {padding:7px;border:1px solid #dddddd;text-align:center;}
.portfolio_tb th {background:#f8f8f8;}





/* FOOTER */
.widget-title {padding-left:15px;background:url(/wp-content/uploads/2016/10/footer_tit.jpg) top 4px left no-repeat;}



/* MOBILE */
@media all and (max-width: 768px) {
.side_menu_second{padding-left:0;}
.boxed-main-layout #wrap #main .container {padding:0 20px;}
}
@media all and (min-width: 768px) and (max-width: 1024px) {
.side_menu_second{padding-left:0;}
}

@media only screen and (max-device-width: 1024px){
.side_menu_second{padding-left:0;}
}



